<!DOCTYPE html><!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon site{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('navbar') }}
        {% endblock %}
    </head>
    <header>
        <div class="row" style="margin-bottom: 2%">
            <div class="col-sm-4">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
                    <a class="navbar-brand" href="{{ path('dashboard_index') }}">
                        <img src="{{asset('images/app_logo.jpg')}}" title="my image" alt="My image" style="width: 50px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('annonces_index') }}">{{ 'app.annonces.index'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('annonces_new') }}">{{ 'app.annonces.new'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('category_index') }}">{{ 'app.category.index'|trans }}</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-sm-8">
                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>


    </header>
    <body>
    {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
